requests==2.25.1
bs4==0.0.1
pillow>=6.2.0
feedparser==6.0.8
folium==0.12.1
opencv-python-headless==4.5.4.60
plotly==5.3.1
matplotlib==3.2.2
urllib3==1.26.7
streamlit-folium==0.4.0
streamlit==0.81.0
numpy==1.20.2
pandas==1.2.4
